* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background-color: rgb(249, 249, 249);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

.title {
   position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background:  #f2f4f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 0 0 20px 0 rgb(0,0,0,0.1),10px 10px 15px rgb(0,0,0,0.1);
}

.title .count {
    position: sticky;
    display: flex;

}

.logo img {
    height: 50px;

}

.nav{
    list-style: none;
    position: fixed;
    gap: 20px;
    bottom: 20px;

}


.bike {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    left: 1400px;
    position: absolute;
    top: 1px;
}

.friendrequest {
    width: 30px;
    height: 30px;
    position:absolute;
    left: 1250px;
    border-radius: 30%;
    
}

.friendrequest:hover{
    color: black;
    box-shadow: 10px 10px 25px;
}

.messenger {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 1350px;
    border-radius: 30%;
}

.alarm {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 1300px;
    border-radius: 30%; 
}

.home {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 350px;
    border-radius: 30%;
}

.tv {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 720px;
    border-radius: 30%;  
}

.dost {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 520px;
    border-radius: 30%;  
}

.logout {
    width: 20px;
    height: 20px;
    top: 7px;
    position: absolute;
    left: 1440px;
    border-radius: 30%; 
}

.store {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 900px;
    border-radius: 30%;
}

.fri {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 1050px;
    border-radius: 30%;
}

.messenger:hover {
    /* transform: scale(0.5); */
    box-shadow: 10px 10px 25px;
    color: black;
}


/*---- .divlogin---- */


.divlogin {
    
    background:  #f2f4f7;
    width: 60%;
    margin-top: 70px;
    height: 700px;
    margin-left: 5px;

}

.divlogin ul li  {
    list-style: none;
    transition: color 0.3s;
    color: rgb(21, 24, 18);
    text-decoration: none;
    margin: 40px 0 0 20px;
}

.divlogin ul li a {
     list-style: none;
     transition: color 0.3s;
     color: rgb(11, 17, 5);
     text-decoration: none;
     margin: 2000px 0 0 60px;
}

.divlogin ul li a:hover {
    color: black;
}

.button {
    background-color: cadetblue;
    width: 100px;
    height: 20px;
    margin: 20px 0 0 50px;
    box-shadow: 10px 10px 20px;
}

#profile {
    width: 180px;
    height: 250px;
    border-radius: 80px;
    /* padding: 20px 0 0 20px; */
    margin: 10px 0 0 8px;
}

h1 {
    margin: 0 0 0 10px;
}
  

/* ----.divlogin2---- */


.divlogin2 {
    width: 50%;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0PX;
    height: 100px;
    display: block;
}

.div {
    display: flex;
}

.divsearch {
    display: inline flex;
    margin: 50px 0 50px 20px;
    width: 600px;
    height: 50px;
    border-radius: 50px;
 }
 
 .divpart {
     background-color: #f2f4f7;
     margin-left: 15px;
     box-shadow: 0 0 20px 0 rgb(0,0,0,0.1),10px 10px 15px rgb(0,0,0,0.1);
 }
 
 .divsearch button {
     display: block;
 }

.FULLSTACKGURU {
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 50%;
}

#cammera {
     display: block;
     margin: 150px 100px 10px 50px;
     right: 50px;
     border: none;
}


/* --divlogin2-- */


.divlogin3 {
    background-color:  #f2f4f7;
    width: 60%;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 10px;
    height: 700px;
    color: black;
}

h2 {
  right: 50px;  
}


/* ----.divlogin4 ---- */

.divlogin4 {
    background-color: #f2f4f7;
    width: 750px;
    margin: 100px 0 0 12px;
    height: 100px;
    display: flex;
    color: black;
    margin-top: 10px;
    box-shadow: 0 0 20px 0 rgb(0,0,0,0.1),10px 10px 15px rgb(0,0,0,0.1);
}

h2 {
     margin: 25px -80px 0 0px;
}

p {
    margin: 50px 0px 0 12px;
    color: dimgray;
}

.create {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border: none;
    border-radius: 50%;
}

.createimg {
    height: 50px;
    width: 50px;
}

/* ---divlogin5---- */


.divlogin5 {
    background-color:   #f2f4f7;
    width: 100%;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 0PX;
    height: 550px;
    display: block;
    border: -1px solid grey;
    box-shadow: 0 0 20px 0 rgb(0,0,0,0.1),10px 10px 15px rgb(0,0,0,0.1);
}

.class {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50px;
}

.content {
    color: black;
    display: flex;
}

#name {
    margin: 10px 0 0 10px;
}

.avengers img{
    width: 700px;
    height: 400px;
    margin: 50px 0 0 25px;
}

.lsk {
    display: flex;
}



/* divlogin6 */

.divlogin6 {
    background-color:   #f2f4f7;
    width: 100%;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 0PX;
    height: 550px;
    display: block;
    box-shadow: 0 0 20px 0 rgb(0,0,0,0.1),10px 10px 15px rgb(0,0,0,0.1);
    
}

.class {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50px;
}

.content {
    color: black;
    display: flex;
}

#name {
    margin: 10px 0 0 10px;
}

.avengers img{
    width: 700px;
    height: 400px;
    margin: 50px 0 0 25px;
}

.lsk {
    display: flex;
}

/* <!--ss--> */
.display {
    display: flex;
}

.leftfriendicon {
    width: 30px;
    height: 30px;
    position: absolute;
    margin: -5px 1450px 0 0;
    border-radius: 30%;
    
}

.searchbar {
    margin-right: 1190px;
    width: 200px;
    height: 25px;
    border: 1px grey;
    border-radius: 50px;
}


.lay {
    width: 30px;
    height: 30px;
    margin: 0 100px;
}

